SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_URL="https://tfmdorokkqobgmkqmtoj.supabase.co"
VITE_SUPABASE_PROJECT_ID="tfmdorokkqobgmkqmtoj"
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL="https://tfmdorokkqobgmkqmtoj.supabase.co"
